<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Oxford Team Tournament</title>

  <meta name="description" content="The Oxford Archers Team Tournament">
  <meta name="keywords" content="archery oxford archers team tournament">

  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="/static/style/cerulean-bootstrap.css">
  <style>
      body {padding-top: 80px}
  </style>

  <!--script src="scripts/libs/modernizr-2.5.3.min.js"></script-->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="/static/js/bootstrap.ajax.js"></script>

</head>

<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">Oxford Team Tournament</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="hero-unit">
            <h1>The Oxford Team Tournament</h1>
            <h2>An exciting new shoot coming February 2013</h2>
        </div>
        <div class="row">
            <div class="span6">
                <p class="lead">The Oxford Team Tournament is a new archery competition designed for teams. Three archers shoot a FITA 18m qualification round, followed by team knock out matches, using Beiter Hit-Miss targets.</p>
            </div>
            <div class="span6">
                <div class="well">
                    <h3>Let me know when entries open</h3>
                    <form class="form-inline ajax" action="/" method="post">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-envelope"></i></span>
                            <input type="email" name="email" placeholder="Email" />
                        </div>
                        <input class="btn btn-primary" type="submit" value="Go" />
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span7">
                <p>The competition is open to teams of three archers, either all recurve or all compound. The ranking round is a normal FITA 18, shot on 3 spot faces. The matches which follow are shot on Beiter Hit-Miss targets. Each match consists of 24 arrows per team shot over 4 ends of 2 minutes each, highest number of hits wins. These targets are a great spectacle, and huge fun to shoot at. For an example of what they're like, check out the final of the British Universities Team Championships 2012 <a href="http://www.youtube.com/watch?v=Dn3cakiasdk&t=4m15s">on YouTube</a>.</p>
            </div>
            <div class="span5">
                <dl class="dl-horizontal">
                    <dt>Date</dt>
                        <dd>Sunday 3rd January 2013</dd>
                    <dt>Time</dt>
                        <dd>Assembly at 8.30am</dd>
                    <dt>Venue</dt>
                        <dd>
                            <address>
                                White Horse Tennis Centre<br>
                                Abingdon<br>
                                Oxfordshire<br>
                                OX14 3PJ
                            </address>
                        </dd>
                </dl>
            </div>
        </div>
    </div>

    <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.-->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

</body>
</html>
